extends layout

//- block content
//-   if (!user)
//-     a(href="/login") Login
//-     br
//-     a(href="/register") Register
//-   if (user)
//-     p You are currently logged in as #{user.username}
//-     a(href="/logout") Logout

block content
  script(type='text/javascript' src='javascripts/frame.js')
  #container
    header
      #header
      #column_tab
    article
      #panel
  