doctype html
html
  head
    title= title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet', media='screen')
    //- link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(type='text/css', rel='stylesheet', href='/stylesheets/lightbox.css')
    link(type='text/css', rel='stylesheet', href='/stylesheets/frame.css')
    //- script(src='http://code.jquery.com/jquery.js')
    //- script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(type='text/javascript' src='javascripts/jquery-1.12.4.min.js')
    script(type='text/javascript' src='javascripts/jquery.bottom-1.0.js')
    script(type='text/javascript' src='javascripts/jquery.countdown.min.js')
    //- script(type='text/javascript' src='javascripts/frame.js')
  body
    block content