#panel_vote {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1 1 auto;
}

#left_block {
    width: 50%;
    margin: 5px;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
}

#left_block>div.topic {
    margin: 5px;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#left_block>div>div.topic_head {
    width: 98%;
    height: 20px;
    margin-top: 2px;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#left_block>div>div.topic_head_publisher {
    max-width: 150px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#left_block>div>div.topic_head_countdown {
    max-width: 100px;
    min-width: 50px;
}

#left_block>div>div.topic_title {
    width: 98%;
    height: 30px;
    margin-top: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#left_block>div>div.vote_graph {
    margin-top: 5px;
}

#left_block>div>div.vote_graph_legend {
    width: 98%;
    /*
    min-height: 40px;
    max-height: 400px;
    overflow: none;
    */
}

#left_block>div>div.topic_title span {
    position: absolute;
    transform: translateX(0);
    transition: 10s;
}

#left_block>div>div.topic_title:hover span {
    cursor: pointer;
    transform: translateX(calc(280px - 100%));
}

#left_block>div>div.topic_foot {
    width: 98%;
    height: 32px;
    margin-top: 2px;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#left_block>div>div>div.topic_foot_left {
    margin-top: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#left_block>div>div>div.topic_foot_right {
    margin-top: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

#left_block>div>div.vote_topic {
    width: 98%;
    margin-top: 5px;
    padding: 0;
    border: 0;
}

#left_block>div>div.vote_graph {
    margin-top: 5px;
    background-color: white;
}

.div_popup_vote_graph {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

.span_close_popup_vote_graph {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.span_close_popup_vote_graph:hover,
.span_close_popup_vote_graph:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.img_popup_vote_graph_loading {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
}

.img_popup_vote_graph {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.div_popup_vote_graph_foot {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.img_popup_vote_graph, .div_popup_vote_graph_foot { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

@media only screen and (max-width: 700px){
    .img_popup_vote_graph {
        width: 100%;
    }
}

#right_block {
    width: 50%;
    height: 800px;
    margin: 5px;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto; 
}

#right_block>div.loading {
    width: 100%;
    height: 20px;
    background-color: white;
    text-align: center;
}

#right_block>div.comment_set {
    width: 100%;
    margin-top: 5px;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#right_block>div>div.comment {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#right_block>div>div>div.comment_left {
    width: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#right_block>div>div>div.comment_indent {
    width: 50px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
}

#right_block>div>div>div.comment_right {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#right_block>div>div>div>div.comment_right_top {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

#right_block>div>div>div>div>div.comment_right_item {
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;
}

#right_block>div>div>div>div>div.comment_right_space {
    width: 10px;
    height: 25px;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;
}

#right_block>div>div>div>div.comment_right_main {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: white;
    border-collapse:collapse;
    position: relative;
}

img{
    max-width: 98%;
    max-height: 98%;
}
